<!DOCTYPE html>
<html>
<head>
    <title>Cookterest</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/sidebar.css'/>
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>

</head>
<body>
<header>
    <div class="navbar navbar-default navbar-fixed-top text-uppercase">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Cookterest</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            {{#if user}}
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {{#if isAdmin}}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-expanded="false">Admin<span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/admin/user/all">Users</a></li>
                                    <li><a href="/admin/category/all">Categories</a></li>
                                </ul>
                            </li>
                        {{/if}}

                        <li><a href="/user/details">Welcome({{user.email}})</a></li>
                        <li><a href="/recipe/create">New Recipe</a></li>
                        <li><a href="/cookbook/view">My cook book</a></li>
                        <li><a href="/user/logout">Logout</a></li>
                    </ul>
                </div>
            {{/if}}
            {{#unless user}}
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/user/register">Register</a></li>
                        <li><a href="/user/login">Login</a></li>
                    </ul>
                </div>
            {{/unless}}
        </div>
    </div>
</header>

{{#if user}}
    <div class="">
        <div class="row profile">
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img src="/images/user.jpeg" class="img-responsive" alt="">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            {{user.fullName}}
                        </div>
                        <div class="profile-usertitle-job">
                            Chef
                        </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <div class="profile-userbuttons">
                        <button type="button" class="btn btn-success btn-sm" onclick="location.href='/recipe/create';">New recipe</button>
                        <button type="button" class="btn btn-danger btn-sm" onclick="location.href='/user/view_profile/{{user.id}}';">Profile</button>
                    </div>
                    <!-- END SIDEBAR BUTTONS -->
                    <div class="panel-group" id="sidebar-menu">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                        My recipes</a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                 <div class="list-group">
                                    {{#each user.recipes}}
                                        <a href="/recipe/details/{{ this.id }}" class="list-group-item">
                                            {{ this.title }}
                                        </a>
                                    {{/each}}
                                 </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                        Favorite recipes</a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                        My shopping list</a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="profile-content">
                    {{#if error }}
                        <h2>{{error}}</h2>
                    {{/if}}

                    {{{body}}}
                </div>
            </div>
        </div>
    </div>
{{/if}}
{{#unless user}}
    <div class="col-md-12">
        <div class="profile-content">
            {{#if error }}
                <h2>{{error}}</h2>
            {{/if}}

            {{{body}}}
        </div>
    </div>
{{/unless}}
</body>
<footer>
    <div class="container modal-footer">
        <p>&copy; 2017 - Two devs and a half</p>
    </div>
</footer>
</html>
