<div class="col-md-9">
    <div class="well">
         <form class="form-horizontal" method="POST" action="/recipe/edit/{{id}}">
            <fieldset>
                <legend>Edit Recipe</legend>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="recipeTitle">Recipe Title</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="recipeTitle" placeholder="Recipe Title" value="{{title}}" name="title" required >
                     </div>
                </div>
                <div class="form-group">
                     <label class="col-sm-4 control-label" for="recipeContent">Content</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="recipeContent" rows="5" name="content" required>{{content}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="recipeIngredients">Ingredients</label>
                    <div class="col-sm-7">
                        <div class="row">
                            <label class="col-sm-3 control-label" for="recipeIngredientQnty">Quantity</label>
                            <label class="col-sm-3 control-label" for="recipeIngredientName">Measure</label>
                            <label class="col-sm-3 control-label" for="recipeIngredientName">Name</label>
                        </div>
                        {{#each ingredients}}
                        <div class="row" id="ingredient-{{@index}}"  >
                            <div class="col-sm-3">
                                <textarea class="form-control" id="recipeIngQnty" rows="1" name="ingredients[{{@index}}][quantity]" required>{{this.quantity}}</textarea>
                            </div>
                            <div class="col-sm-3">
                                <textarea class="form-control" id="recipeIngMeasure" rows="1" name="ingredients[{{@index}}][measure]" required>{{this.measure}}</textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="form-control" id="recipeIngName" rows="1" name="ingredients[{{@index}}][name]" required>{{this.name}}</textarea>
                            </div>
                        </div>
                        {{/each}}
                        <button id="btnAddIng" type="button" class="btn btn-primary btn-sm" lineCount="{{ingredients.length}}">Add +</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="recipeIngredients">Nutritions</label>
                    <div class="col-sm-7">
                        <div class="row">
                            <label class="col-sm-3 control-label" for="recipeFats">Fats</label>
                            <label class="col-sm-3 control-label" for="recipeCarbs">Carbohydrates</label>
                            <label class="col-sm-3 control-label" for="recipeProteins">Proteins</label>
                        </div>
                        <div class="col-sm-3">
                            <textarea class="form-control" id="recipeIngQnty" rows="1" name="nutritions[fats]" required>{{nutritions.fats}}</textarea>
                        </div>
                        <div class="col-sm-3">
                            <textarea class="form-control" id="recipeIngMeasure" rows="1" name="nutritions[carbs]" required>{{nutritions.carbs}}</textarea>
                        </div>
                        <div class="col-sm-4">
                            <textarea class="form-control" id="recipeIngName" rows="1" name="nutritions[proteins]" required>{{nutritions.proteins}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="recipeDirections">Directions</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="recipeDirections" rows="5" name="directions" required>{{directions}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="recipePrepTime">Preparation time</label>
                    <div class="col-sm-6">
                        <input type="number" name="prepTime" min="1" max="200" required value="{{prepTime}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="recipeCookTime">Cooking time</label>
                    <div class="col-sm-6">
                        <input type="number" name="cookTime" min="1" max="200" required value="{{cookTime}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label"
                           for="category">Category</label>
                    <div class="col-sm-6">
                        <select class="form-control" id="select" name="category">
                            {{#each categories}}
                                <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                         <a href="/" class="btn btn-default">Cancel</a>
                        <button type="submit" href="/recipe/edit/{{id}}" class="btn btn-success">Edit</button>
                    </div>
                </div>
            </fieldset>
         </form>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#btnAddIng").click(function(){
            var lineCount = $(this).attr('lineCount');
            lineCount++;

            $("#btnAddIng").before(
                    "<div class='row' id='ingredient-" + lineCount + "'>" +
                    "<div class='col-sm-3'> " +
                    "<textarea class='form-control' rows='1' name='ingredients["+ lineCount +"][quantity]' required></textarea>" +
                    "</div>" +
                    "<div class='col-sm-3'> " +
                    "<textarea class='form-control' rows='1' name='ingredients["+ lineCount +"][measure]' required></textarea>" +
                    "</div>" +
                    "<div class='col-sm-4'>" +
                    "<textarea class='form-control' rows='1' name='ingredients["+ lineCount +"][name]' required></textarea>" +
                    "</div>" +
                    "</div>");

            $(this).attr('lineCount', lineCount);
        });
    });
</script><!--Add Ing-->
