<div class="col-md-9">
    <div class="well">
         <form class="form-horizontal" method="POST" action="/recipe/edit/{{id}}">
            <fieldset>
                <legend>Edit Recipe</legend>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="recipeTitle">Recipe Title</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="recipeTitle" placeholder="Recipe Title" value="{{title}}" name="title" required >
                     </div>
                </div>
                <div class="form-group">
                     <label class="col-sm-4 control-label" for="recipeContent">Content</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="recipeContent" rows="5" name="content" required>{{content}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="recipeIngredients">Ingredients</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="recipeIngredients" rows="5" name="ingredients" required>
                            {{ingredients}}
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="recipeDirections">Directions</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="recipeDirections" rows="5" name="directions" required>
                            {{directions}}
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="recipePrepTime">Preparation time</label>
                    <div class="col-sm-6">
                        <input type="number" name="prepTime" min="1" max="200" required value="{{prepTime}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="recipeCookTime">Cooking time</label>
                    <div class="col-sm-6">
                        <input type="number" name="cookTime" min="1" max="200" required value="{{cookTime}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label"
                           for="category">Category</label>
                    <div class="col-sm-6">
                        <select class="form-control" id="select" name="category">
                            {{#each categories}}
                                <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                         <a href="/" class="btn btn-default">Cancel</a>
                        <button type="submit" href="/recipe/edit/{{id}}" class="btn btn-success">Edit</button>
                    </div>
                </div>
            </fieldset>
         </form>
    </div>
</div>
